@page "/blogposts"

@using ServerlessCrudClassLibrary
@using ServerlessCrudBlazorUI.Services
@using ServerlessCrudClassLibrary.Utilities
@using Microsoft.Azure.Cosmos.Table

@inject UnauthorizedCrudFunctionAPIClient client

<h3>Blog Posts</h3>

@if (hasInitialized)
{
    <ul class="list-group">
        @foreach (BlogPostEntity post in blogPosts[index])
        {
            <NavLink class="list-group-item  list-group-item-action"
                     href="@($"/detail/{PrettyPrinter.DateStringFromBlogPostPartitionKey(post.PartitionKey)}/{post.RowKey}")">
                <div>
                    <h4>
                        @post.Title
                    </h4>
                    <p class="text-muted">
                        By @post.Author &mdash; @post.Timestamp.ToLocalTime().ToString("d MMMM yyyy")
                    </p>
                </div>
                <div class="">
                    <p class="">
                        @((post.Text.Length < 300) ? post.Text : $"{post.Text.Substring(0, 300)} ...")
                    </p>
                </div>
            </NavLink>
        }
    </ul>

    <ul class="pagination justify-content-center">
        <li class="page-item">
            <button class="page-link" type="button" @onclick="@(async () => await GoToIndex(0))">First</button>
        </li>
        <li class="page-item @((index == 0) ? "disabled" : "")">
            <button class="page-link" type="button" @onclick="@(async () => await GoToIndex(index - 1))">Previous</button>
        </li>

        @for (int i = (index < radiusOfPages) ? 0 : index - radiusOfPages; i <= ((index + radiusOfPages < numOfPages) ? index + radiusOfPages : numOfPages - 1); i++)
        {
            // Workaround, since i gets incremented, but a is declared local to the loop.
            int a = i;
            <li class="page-item @((i == index) ? "active" : "")">
                <button class="page-link" type="button" @onclick="@(async() => await GoToIndex(a))">@(i + 1)</button>
            </li>
        }

        <li class="page-item @((index + 1 < numOfPages) ? "" : "disabled")">
            <button class="page-link" type="button" @onclick="@(async() => await GoToIndex(index + 1))">Next</button>
        </li>
        <li class="page-item">
            <button class="page-link" type="button" @onclick="@(async() => await GoToIndex(numOfPages - 1))">Last</button>
        </li>
    </ul>
}
else
{
    <p>
        Fetching blog posts...
    </p>
}

@code {
    private bool hasInitialized = false;
    private readonly static int numberOfEntitiesOnPage = 2;
    private readonly static int radiusOfPages = 3;

    private int index { get; set; } = 0;
    private (string pk, string rk)[] catalog { get; set; }
    private BlogPostEntity[][] blogPosts { get; set; }

    private int numOfPages { get { return (int)Math.Ceiling((decimal)(catalog.Length) / (decimal)numberOfEntitiesOnPage); } }

    private async Task GoToIndex(int i)
    {
        if (blogPosts[i] == null)
        {
            blogPosts[i] = (await client.GetQueryBlogPostsResponseAsync(
                    selectColumns: new List<string>()
                    {
                        "PartitionKey",
                        "RowKey",
                        "Timestamp",
                        "Author",
                        "Text"
                    },
                    takeCount: numberOfEntitiesOnPage,
                    nextKeys: catalog[i * numberOfEntitiesOnPage]
                )).BlogPosts.ToArray();
        }
        index = i;
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        catalog = (from post in (await client.GetQueryBlogPostsResponseAsync(
                       takeCount: 1000,
                       selectColumns: new List<string>()
                       {
                           "PartitionKey",
                           "RowKey"
                           })).BlogPosts
                   select (post.PartitionKey, post.RowKey))
                   .ToArray();

        blogPosts = new BlogPostEntity[numOfPages][];

        await GoToIndex(0);

        hasInitialized = true;
    }
}
