@page "/detail/{partitionKey}/{rowKey}"

@using Microsoft.AspNetCore.WebUtilities
@using ServerlessCrudClassLibrary
@using ServerlessCrudBlazorUI.Services
@inject UnauthorizedCrudFunctionAPIClient client
@inject NavigationManager navigationManager

<h3>BlogPostDetailView</h3>

<div>
    <h4>
        @blogPost.Title
    </h4>
    <p>
        <small>By @blogPost.Author -- Last Updated @blogPost.Timestamp.ToLocalTime()</small>
    </p>
</div>
<div>
    <p>
        @blogPost.Text
    </p>
</div>
<div>
    <NavLink href="@($"/editor?partitionkey={PartitionKey}&rowkey={RowKey}")">Edit</NavLink>
</div>

@code {
    [Parameter]
    public string PartitionKey { get; set; }
    [Parameter]
    public string RowKey { get; set; }

    private BlogPostEntity blogPost { get; set; } = new BlogPostEntity("", "");

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        blogPost = await client.GetBlogPostEntityAsync(PartitionKey, RowKey);
    }
}
