@page "/detail/{dateString}/{rowKey}"

@using ServerlessCrudClassLibrary.Utilities
@using ServerlessCrudClassLibrary
@using ServerlessCrudBlazorUI.Services
@inject UnauthorizedCrudFunctionAPIClient client
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authStateProvider

<h3>BlogPostDetailView</h3>

<div>
    <h4>
        @blogPost.Title
    </h4>
    <p>
        <small>By @blogPost.Author -- Last Updated @blogPost.Timestamp.ToLocalTime()</small>
    </p>
</div>
<div>
    <p>
        @blogPost.Text
    </p>
</div>
@if (userName == blogPost.Author)
{
    <NavLink href="@($"/editor?partitionkey={PrettyPrinter.BlogPostPartitionKeyFromDateString(DateString)}&rowkey={RowKey}")">Edit</NavLink>
}

@code {
    [Parameter]
    public string DateString { get; set; }
    [Parameter]
    public string RowKey { get; set; }

    private string userName;
    private BlogPostEntity blogPost { get; set; } = new BlogPostEntity("", "");

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        blogPost = await client.GetBlogPostEntityAsync(
            PrettyPrinter.BlogPostPartitionKeyFromDateString(DateString), 
            RowKey);
        userName = (await authStateProvider.GetAuthenticationStateAsync()).User.Identity.Name;
    }
}
